html, body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  font-size: 4.5vw;
}

a {
  text-decoration: initial;
}
a:visited {
  color: initial;
}

@media (min-width: 425px) {
  html, body {
    font-size: 16px;
  }
}

.profile-card {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 50%;
}

@media (min-width: 1024px) {
  .profile-card {
    display: block;
    position: fixed;
    left: 50%;
    width: 160px;
    margin-left: -380px;
  }
}

.profile-picture {
  display: block;
  width:  100px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top:    5px;
  margin-bottom: 5px;
  max-width: 100%;
}

.email {
  display: block;
  margin-top:    2vw;
  margin-bottom: 2vw;
  font-size: 4vw;
  max-width: 100%;
  text-align: center;
  color: #444;
}
.email:hover {
  color: #5555DA;
  outline: none;
}
@media (min-width: 425px) {
  .email {
    margin-top:    5px;
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.profile-links {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  margin-top:    5px;
  margin-bottom: 5px;
  text-align: center;
}

.profile-link {
  display: inline-block;
  width:  10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 1.5vw;
  vertical-align: top;
}
.profile-link:hover,
.profile-link:focus {
  border-bottom: 1.5vw solid orange;
  padding-bottom: 0;
  outline: none;
}

@media (min-width: 425px) {
  .profile-link:hover,
  .profile-link:focus {
    border-bottom: 4px solid orange;
  }
  .profile-link {
    width:  30px;
    height: 30px;
    padding-bottom: 4px;
  }
}

.github-link {
  background-image: url(github-logo.svg);
}
.facebook-link {
  background-image: url(facebook-logo.svg);
}
.stackoverflow-link {
  background-image: url(stackoverflow-logo.svg);
}

.main-content {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
}

.boxed-heading {
  margin-top: 10vw;
}
@media (min-width: 425px) {
  .boxed-heading {
    margin-top: 35px;
  }
}

.boxed {
  background-color: #eff2f4;
  margin-top:    1vw;
  margin-bottom: 1vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:     center;
  flex-wrap: wrap;
}
a.boxed:hover,
a.boxed:focus {
  background-color: #D8E3EA;
  border-left: 5px solid orange;
  margin-left: -5px;
  outline: none;
}

@media (min-width: 425px) {
  .boxed {
    margin-top:    15px;
    margin-bottom: 15px;
    padding: 10px;
  }
}

.child-box {
  display: block;
}

.yarnball-link img {
  max-width: 100%;
}

.library-link {
  padding: 2vw;
  padding-left:  3vw;
  padding-right: 3vw;
  max-width: 100%;
  font-weight: bold;
  color: #444;
  font-size: 10vw;
}
.library-link:hover,
.library-link:focus {
  background-color: #D8E3EA;
  outline: none;
  border-left: 5px solid orange;
  margin-left: -5px;
}

@media (min-width: 425px) {
  .library-link {
    padding: 5px;
    padding-left:  10px;
    padding-right: 10px;
    font-size: 20px;
  }
}

.library-link img {
  max-width: 100%;
  width: 24vw;
}
@media (min-width: 425px) {
  .library-link img {
    max-width: 100px;
  }
}

.work-box {
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* AIE */
.aie-container {
  background-color: #0a2a3b;
  color: #fff;
}
a.aie-box {
  background: transparent;
  margin-bottom: 0;
  color: #fff;
}
a.aie-box:hover,
a.aie-box:focus {
  background-color: #17435A;
}
.aie-container .child-box {
  border-top: 1px solid #8C8C8C;
  padding-left:   5vw;
  padding-right:  2.8vw;
  padding-top:    0;
  padding-bottom: 0.5vw;
  font-size: 2.8vw;
}
@media (min-width: 425px) {
  .aie-container .child-box {
    padding-left:   34px;
    padding-right:  11px;
    padding-bottom: 2px;
    font-size: 12px;
  }
}
.certificate {
  display: flex;
  align-items: center;
  margin-top:    4vw;
  margin-bottom: 4vw;
}
@media (min-width: 425px) {
  .certificate {
    margin-top:    18px;
    margin-bottom: 18px;
  }
}
.certificate-icon {
  display: inline-block;
  background-image: url("certificate-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width:  4.5vw;
  height: 4.5vw;
  margin-right: 2.5vw;
  margin-bottom: -0.5vw;
}
@media (min-width: 425px) {
  .certificate-icon {
    width:  18px;
    height: 18px;
    margin-right: 9px;
    margin-bottom: -4px;
  }
}
.certificate-year {
  margin-left: auto;
  font-size: 2.8vw;
}
@media (min-width: 425px) {
  .certificate-year {
    font-size: 11px;
  }
}

a.mediaware-box {
  background-color: #01539C;
}
a.mediaware-box:hover,
a.mediaware-box:focus {
  background-color: #0E66B5;
}
a.mediaware-box .years {
  color: #fff;
}

.work-logo {
  max-width: 80%;
}
.work-logo img {
  max-width: 80%;
}

.years {
  font-size: 4vw;
  white-space: nowrap;
}
@media (min-width: 425px) {
  .years {
    font-size: 12px;
  }
}