html, body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  font-size: 3.78vw;
  margin: 0;
}
@media (min-width: 425px) {
  html, body {
    font-size: 16px;
  }
}

a {
  text-decoration: inherit;
}
a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

.profile-card {
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .profile-card {
    display: inline-block;
    position: fixed;
    left: 50%;
    margin-left: -23.5rem;
  }
}

.profile-picture {
  display: block;
  margin: 0 auto;
  width:  6.5rem;
  height: 6.5rem;
  border-radius: 3.25rem;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
  background-color: #eff2f4;
}

.email {
  display: block;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  color: #444;
}
.email:hover {
  color: #5555DA;
  outline: none;
}

.profile-links {
  display: flex;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.profile-link {
  display: inline-block;
  width:  1.8rem;
  height: 1.8rem;
  margin-left:  0.25rem;
  margin-right: 0.25rem;
  padding-bottom: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.profile-link:hover,
.profile-link:focus {
  border-bottom: 0.25rem solid #FFA500;
  padding-bottom: 0;
  outline: none;
}

.github-link {
  background-image: url(github-logo.svg);
}
.facebook-link {
  background-image: url(facebook-logo.svg);
}
.stackoverflow-link {
  background-image: url(stackoverflow-logo.svg);
}

.main-content {
  margin: 0 auto;
  width: 25rem;
  max-width: 100%;
}

h2 {
  margin-top: 2rem;
  font-size:   inherit;
  font-weight: inherit;
}

.boxed {
  display: block;
  margin-top:    0.7rem;
  margin-bottom: 0.7rem;
  background-color: #eff2f4;
/*   padding: 0.5rem; */
}
a.boxed:hover,
a.boxed:focus {
  background-color: #D8E3EA;
  border-left: 0.3rem solid #FFA500;
  margin-left: -0.3rem;
  outline: none;
}

.yarnball-link {
  padding: 0.5rem;
}
.yarnball-link img {
  display: block;
  margin: 0 auto;
  height: 6rem;
}

.logo-gallery {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.library-link {
  padding: 0.4rem;
  padding-left:  0.6rem;
  padding-right: 0.6rem;
  max-width: 100%;
  font-weight: bold;
  color: #444;
  font-size: 1.5rem;
}
.library-link:hover,
.library-link:focus {
  background-color: #D8E3EA;
  outline: none;
  border-left: 5px solid #FFA500;
  margin-left: -5px;
}

.library-link img {
  width:  6rem;
  height: 2rem;
  vertical-align: middle;
}


.box-header {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
a.box-header:hover,
a.box-header:focus {
  background-color: #D8E3EA;
  border-left: 0.3rem solid #FFA500;
  margin-left: -0.3rem;
  outline: none;
}
.box-header img {
  max-width: 17rem;
  height:   2.5rem;
}
.box-header .attribute {
  margin-left: auto;
  font-size: 0.8rem;
  white-space: nowrap;
}
.box-content {
  display: block;
  margin-top: 0;
  padding: 0.5rem;
  border-top: 1px solid #CECECE;
}
.box-content .attribute {
  margin-left: auto;
  font-size: 0.8rem;
}
ul.box-content {
  padding-left: 1rem;
}
.box-content li {
  display: flex;
  font-size: 0.8rem;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
}
.box-content li .attribute {
  margin-left: auto;
}
.list-item-icon {
  display: inline-block;
  width:  1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

/* AIE */
.aie-box {
  background-color: #0a2a3b;
  color: #fff;
}
.aie-box a:hover,
.aie-box a:focus {
  background-color: #17435A;
}
.aie-box .box-content {
  border-top: 1px solid #8C8C8C;
}
.certificate-icon {
  background-image: url("certificate-icon.svg");
}

/* Mediaware */
.mediaware-box {
  background-color: #01539C;
  color: #fff;
}
.mediaware-box a:hover,
.mediaware-box a:focus {
  background-color: #0E66B5;
}
.mediaware-box .box-content {
  border-top: 1px solid #C1C1C1;
}
.product-icon {
  background-image: url("product-icon.svg");
}

/* NCH */
.application-icon {
  background-image: url("application-icon.svg");
}